@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #2b9f3f;
  --color-primary-hover: #248a35;
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-primary-hover:hover {
  background-color: var(--color-primary-hover);
}

.border-primary {
  border-color: var(--color-primary);
}

.text-primary {
  color: var(--color-primary);
}

.focus-primary:focus {
  border-color: var(--color-primary);
  ring-color: var(--color-primary);
}
